<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Wedding website of David Horsak and Katharina Rausch 2022" />
	<meta name="keywords" content="David Horsak, Katharina Rausch, Wedding, 2022" />
	<meta name="author" content="David Horsak" />
  <meta name="robots" content="noindex,nofollow">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="shortcut icon" href="/favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Montez|Open+Sans:400,700,300" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="/assets/styles.css">

</head>
<body>
  <div id="fh5co-wrapper">
	  <div id="fh5co-page">
      {% include 'top.njk' %}
      {% include 'navi.njk' %}
      {% if not disable_headsection == true %}
		    {% include 'heading-section.njk' %}
      {% endif %}

      {{ content | safe }}

		  <div id="fh5co-started" style="background-image:url(/assets/images/invitation-section.jpeg);" >
		    <div class="overlay"></div>
			  <div class="container">
				  <div class="row animate-box">
					  <div class="col-md-8 col-md-offset-2 text-center heading-section">
						  <h2>Are You Attending?</h2>
						  <p>Please fill out the form to notify us that you're attending. Thanks.
					  </div>
				  </div>
				  <div class="row animate-box">
					  <div class="col-md-10 col-md-offset-1">
							<div class="col-md-4 col-sm-4">
							</div>
							<div class="col-md-4 col-sm-4">
								<a href="https://forms.office.com/r/3us0QiyWG9" class="btn btn-primary btn-block">I am Attending</a>
							</div>
							<div class="col-md-4 col-sm-4">
							</div>
					  </div>
				  </div>
			  </div>
		  </div>

		  <footer>
			  <div id="footer">
				  <div class="container">
					  <div class="row">
						  <div class="col-md-12 text-center">
							  <h2>David &amp; Katharina</h2>
						  </div>
						  <div class="col-md-6 col-md-offset-3 text-center">
							  <p>Template made with <i class="icon-heart3"></i> by <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a></p>
						  </div>
					  </div>
				  </div>
			  </div>
		  </footer>

	  </div>
	  <!-- END fh5co-page -->

  </div>
  <!-- END fh5co-wrapper -->
	<script src="/assets/scripts.js"></script>
</body>
</html>
