<header id="fh5co-header-section" class="sticky-banner">
	<div class="container">
		<div class="nav-header">
			<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
			<h1 id="fh5co-logo"><a href="/">David & Katharina</a></h1>
			<!-- START #fh5co-menu-wrap -->
			<nav id="fh5co-menu-wrap" role="navigation">
				<ul class="sf-menu" id="fh5co-primary-menu">
					<li class="{{ home_class }}"><a href="/">Home</a></li>
					<li class="{{ schedule_class }}">
						<a href="/schedule">Schedule</a>
						<ul class="fh5co-sub-menu">
              {%- for event in collections.events -%}
							  <li><a href="{{ event.url }}">{{ event.data.top_h2 }}</a></li>
              {%-  endfor -%}
						</ul>
					</li>
					<!-- <li class="{{ wedding_party_class }}"><a href="/wedding-party/">Wedding Party</a></li> -->
					<li class="{{ registry_class }}"><a href="/registry/">Registry</a></li>
					<!-- <li class="{{ things_to_do_class }}"><a href="/things-to-do/">Things To Do</a></li> -->
				</ul>
			</nav>
		</div>
	</div>
</header>
