---
title: Honeymoon
registry_class: active
layout: "base.njk"
top_h1: Registry
top_h2: Honeymoon
tags:
    - gifts
    - gifts_travel
text: Nice text
shop_url: /gifts/015-travel
image_name: travel.jpg
---

<div class="fh5co-section-gray">
	<div class="container content-container registry">
		<div class="row row-bottom-padded-md">
      <div class="col-md-10 col-md-offset-1 text-center animate-box">
        <p>
          Thank you for sharing in our happiness with us. We cannot wait to celebrate with you on our wedding day.
        </p>
        <p>
          We have not planned a destination for our honeymoon yet, but we have a full list of places we would like to see and visit - South Africa, South East Asia, Mexico, and the list goes on... We would like to take our time and choose our next travel carefully considering the world situation.
        </p>
        <p>
          If you would like to help us get to our next destination by contributing to our honeymoon fund, we would be very grateful!
        </p>
      </div>
		</div>
	</div>
</div>
