---
title: LP
registry_class: active
layout: "base.njk"
top_h1: Registry
top_h2: LP
tags:
    - gifts
    - gifts_adds
text: Nice text
shop_url: /gifts/016-vinyl
image_name: vinyl.jpg
---

<div class="fh5co-section-gray">
	<div class="container content-container registry">
		<div class="row row-bottom-padded-md">
      <div class="col-md-10 col-md-offset-1 text-center animate-box">
        <p>
          In the age of Spotify and other streaming services, music has become a commodoity. We bought an LP player as a way to slow down and to actually listen to the interpret.
        </p>
        <p>
          Our collection is not large: Daft Punk - Random Access Memories, Ott & Arnalds - The Chopin Project, and Morgan James - Memphis Magentic. We just started collecting recently.
        </p>
        <p>
          You are more than welcome to help us extend our collection with your original ideas!
        </p>
      </div>
		</div>
	</div>
</div>
