---
layout: "base.njk"
tags: events
title: Beach Sundowners
image_path: "/assets/images/drinks.jpeg"
datetime: Thursday, 11th August, 7.30PM - 9.00PM
location: Herrsching
top_h1: Schedule
top_h2: Beach Sundowners

opening: If you are arriving on the evening before the wedding day and the weather is nice, join us for a bottle of Tegernseer on the beach promenade in Herrsching.
---

<div class="fh5co-section-gray">
	<div class="container">
    <div class="row row-bottom-padded-md">

      <div class="col-md-12 text-center animate-box">
        <p><strong>{{ datetime }} @ {{ location }}</strong></p>

				<p>{{ opening }}</p>
		  </div>

    </div>
  </div>
</div>
