---
layout: "base.njk"
tags: events
title: Beach Sundowners
datetime: Thursday, 11th August, 7.30PM
location: Herrsching
opening: If you are arriving on the evening before the wedding day and the weather is nice, join us for a bottle of Tegernseer on the beach promenade in Herrsching.
---


<p>this is a sample body</p>
If you are arriving on the evening before the wedding day and the weather is nice, join us for a bottle  of Tegernseer on the beach promenade in Herrsching. 
Where: Bayrische Brandung, Seepromenade, 82211 Ammersee ( google maps link) 
When: 7.30pm 
Good to know: It´s a relaxed beach bar with a great view of the lake. Food is not being served there and needs to be organized individually. We list some of our favorite restaurants in the area under “Things to Do @ Ammersee” 
I am attending-Button (Link to form) 
