---
layout: "base.njk"
tags: events
title: Schedule | Thursday Sundowners
image_path: "/assets/images/drinks.jpeg"
date: 2022-08-11
datetime: Thursday, 11th August, 7.30 PM
location: Herrsching
address: Bayrische Brandung, Seepromenade, 82211 Herrsching
top_h1: Schedule
top_h2: Thursday Sundowners
opening: If you are arriving on Thursday, the evening before the wedding day, and the weather is nice, join us for some Tegernseer on the beach promenade in Herrsching.
link_text: More information
---

<div class="fh5co-section-gray">
	<div class="container">
    <div class="row row-bottom-padded-md">

      <div class="col-md-10 col-md-offset-1 text-center animate-box">
        <p><strong>{{ datetime }} @ {{ location }}</strong></p>

				<p>{{ opening }}</p>

        <p><strong>Good to know:</strong> It is a relaxed beach bar with a great view of the lake. Food is not being served and needs to be organized individually.</p>

        <h2>How to Get There</h2>
        <p><strong>{{ address }}</strong></p>

        <div style="width: 100%"><iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=Bayrische%20Brandung,%20Seepromenade,%2082211%20Herrsching+()&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>

		  </div>
    </div>
  </div>
</div>
