---
layout: "base.njk"
tags: events
title: Weddding Ceremony
datetime: Friday, 12th August, 11.00AM - 11.15AM
location: Herrsching
opening: The official marriage act after which there is no escape. Due to very low capacity of the registry office, act will take place only in the close family circle, but you can look forward to a ssmall ceremoy, which is going to happen at the party!
---

<p>this is a sample body</p>
