---
layout: "base.njk"
tags: events
title: Schedule | Civil Wedding
image_path: "/assets/images/kurparkschloss.jpeg"
date: 2022-08-13
datetime: Friday, 12th August
location: Herrsching
opening: The official wedding act will take place in our close family circle. Later at the wedding celebration we are going to exchange our personal vows with you being present.
top_h1: Schedule
top_h2: Civil Wedding
link_text: Enjoy a relaxed morning or a safe arrival!
---


<div class="fh5co-section-gray">
	<div class="container">
    <div class="row row-bottom-padded-md">

      <div class="col-md-10 col-md-offset-1 text-center animate-box">
        <p><strong>{{ datetime }} @ {{ location }}</strong></p>

				<p>{{ opening }}</p>
		  </div>
    </div>
  </div>
</div>
