---
layout: "base.njk"
tags: events
title: Weddding Party
image_path: "/assets/images/lenas.jpeg"
datetime: Friday, 12th August, 3.30PM - 12.00AM
location: Utting
opening: Read carefuly all the details of this event! We are going to take to a lovely restaurant next a lake, where the celebration of David's and Katharina's live together...
---

<p>this is a sample body</p>
