---
layout: "base.njk"
tags: events
title: Schedule | BBQ
image_path: "/assets/images/bbq.jpeg"
date: 2022-08-15
datetime: Saturday, 13th August, 4.00 PM
location: Herrsching
top_h1: Schedule
top_h2: BBQ
address: David and Katharina's Home, Am Fendlbach 20D, 82211 Herrsching
opening: Not tired of celebrations yet? Join us in our home for a casual barbeque and drinks. Don’t forget to hop into the lake and to enjoy the summer day at the beach before.
link_text: More information
---

<div class="fh5co-section-gray">
	<div class="container content-container">
    <div class="row row-bottom-padded-md">

      <div class="col-md-10 col-md-offset-1 text-center animate-box">
        <p><strong>{{ datetime }} @ {{ location }}</strong></p>

				<p>{{ opening }}</p>
        <h2>How to Get There</h2>
        <p><strong>{{ address }}</strong></p>
        <div style="width: 100%">

          <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1047.959204983403!2d11.158212829274671!3d48.00543229870082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x58d30da199546dca!2zNDjCsDAwJzE5LjYiTiAxMcKwMDknMzEuNSJF!5e1!3m2!1sen!2sus!4v1653748810015!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
      </div>
    </div>
  </div>
</div>
