---
layout: "base.njk"
tags: events
title: BBQ
image_path: "/assets/images/bbq.jpeg"
datetime: Saturday, 13th August, 5.00PM - 10.00PM
location: Herrsching
opening: xx?
---

<p>this is a sample body</p>
