---
title: David & Katharina 2022
home_class: active
layout: "base.njk"
disable_headsection: true
image_path: /assets/images/main2.jpeg
top_h1: The Wedding
top_h2: David & Katharina
top_p: 12.8.2022
---

<div id="fh5co-couple" class="fh5co-section-gray">
	<div class="container">
		<div class="row row-bottom-padded-md animate-box">
			<div class="col-md-6 col-md-offset-3 text-center">
				<div class="col-md-5 col-sm-5 col-xs-5 nopadding">
					<img src="/assets/images/david.jpeg" class="img-responsive">
					<h3>David Horsák</h3>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2 nopadding"><h2 class="amp-center"><i class="icon-heart"></i></h2></div>
				<div class="col-md-5 col-sm-5 col-xs-5 nopadding">
					<img src="/images/bride.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
					<h3>Katharina Louise Rausch</h3>
				</div>
			</div>
		</div>
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2">
				<div class="col-md-12 text-center heading-section">
					<h2>Are Getting Married</h2>
					<p><strong>on 12th August 2022 in Herrsching</strong></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="fh5co-countdown">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center animate-box">
			<p id="countdown" class="countdown">
				<span id="days"></span>
				<span id="hours"></span>
				<span id="minutes"></span>
				<span id="seconds"></span>
			</p>
		</div>
	</div>
</div>
