---
title: David & Katharina 2022 | Registry
registry_class: active
layout: "base.njk"
top_h1: David & Katharina
top_h2: Registry
---

<div class="fh5co-section-gray">
	<div class="container content-container registry">

		<div class="row row-bottom-padded-md">
      <div class="col-md-10 col-md-offset-1 text-center animate-box">
        <p>
        Your presence at our wedding is the greatest gift of all. However, if you wish to honour us with a gift, below you will find areas, ideas and objects, where you can support us fullfilling our dreams. Cash gifts are welcome, but not expected, and will be put towards our honeymoon.
        </p>
        <p>
          If you found an item in the registry that you like, please let everyone else know under this <a href="https://1drv.ms/x/s!AhykwfUxXZxc12ZXLpc-P3X9xb3z" target="_blank">link</a>.
        </p>
      </div>
		</div>

    <div class="row row-bottom-padded-md">
			<div class="col-md-12 text-center animate-box">
        <h3>Travel</h3>
        <p>One could say that dedicating to a marriage is dedicating to exploring the world together. And, travel is the best way to be lost and found at the same time.
      </div>
    </div>
		<div class="row row-bottom-padded-md">
      {%- for gift in collections.gifts_travel -%}
			  <div class="col-md-3 text-center animate-box">
				  <div class="wedding-gifts">
            <div class="square-wrap">
              <a class="square" href="{{ gift.data.shop_url }}" target="_blank">
                <div class="content" style="background-image: url(/images/gifts/{{ gift.data.image_name }});"></div>
              </a>
            </div>
					  <div class="desc">
						  <h4>{{ gift.data.title }}</h4>
              <a href="{{ gift.data.shop_url }}">More information</a>
					  </div>
				  </div>
			  </div>
      {%- endfor -%}
		</div>

    <div class="row row-bottom-padded-md">
			<div class="col-md-12 text-center animate-box">
        <h3>Bikepacking</h3>
        <p>
          We are grateful for settling in what we would consider one of the most beautiful corners of our planet. We love to explore the area and its surroundings. The following equipment would help us to go just a little bit futher.
        </p>
      </div>
    </div>
		<div class="row row-bottom-padded-md">
      {%- for gift in collections.gifts_bikepacking -%}
			  <div class="col-md-3 text-center animate-box">
				  <div class="wedding-gifts">
            <div class="square-wrap">
              <a class="square" href="{{ gift.data.shop_url }}" target="_blank">
                <div class="content" style="background-image: url(/images/gifts/{{ gift.data.image_name }});"></div>
              </a>
            </div>
					  <div class="desc">
						  <h4>{{ gift.data.title }}</h4>
              <a href="{{ gift.data.shop_url }}">Shop</a>
					  </div>
				  </div>
			  </div>
      {%- endfor -%}
		</div>

    <div class="row row-bottom-padded-md">
			<div class="col-md-12 text-center animate-box">
        <h3>Cook, Drink, Eat</h3>
        <p>
          We eat and drink that we may live. Food is a universal language, it creates cultures and builds bridges between people. Cooking, drinking and eating is the greatest pleasure when done with someone.
        </p>
      </div>
    </div>
		<div class="row row-bottom-padded-md">
      {%- for gift in collections.gifts_ced -%}
			  <div class="col-md-3 text-center animate-box">
				  <div class="wedding-gifts">
            <div class="square-wrap">
              <a class="square" href="{{ gift.data.shop_url }}" target="_blank">
                <div class="content" style="background-image: url(/images/gifts/{{ gift.data.image_name }});"></div>
              </a>
            </div>
					  <div class="desc">
						  <h4>{{ gift.data.title }}</h4>
              <a href="{{ gift.data.shop_url }}">Shop</a>
					  </div>
				  </div>
			  </div>
      {%- endfor -%}
		</div>

    <div class="row row-bottom-padded-md">
			<div class="col-md-12 text-center animate-box">
        <h3>Home</h3>
        <p>
          <i> “Our home is our castle, our sanctuary, our haven of safety. It is where we can just be, create, and enjoy the pleasures of life."</i> - Jewel Star
        </p>
      </div>
    </div>
		<div class="row row-bottom-padded-md">
      {%- for gift in collections.gifts_home -%}
			  <div class="col-md-3 text-center animate-box">
				  <div class="wedding-gifts">
            <div class="square-wrap">
              <a class="square" href="{{ gift.data.shop_url }}" target="_blank">
                <div class="content" style="background-image: url(/images/gifts/{{ gift.data.image_name }});"></div>
              </a>
            </div>
					  <div class="desc">
						  <h4>{{ gift.data.title }}</h4>
              <a href="{{ gift.data.shop_url }}">Shop</a>
					  </div>
				  </div>
			  </div>
      {%- endfor -%}
		</div>


    <!-- 
         <div class="row row-bottom-padded-md">
			   <div class="col-md-12 text-center animate-box">
         <h3>Sport</h3>
         </div>
         </div>
		     <div class="row row-bottom-padded-md">
         {%- for gift in collections.gifts_sport -%}
			   <div class="col-md-3 text-center animate-box">
				 <div class="wedding-gifts">
         <div class="square-wrap">
         <a class="square" href="{{ gift.data.shop_url }}" target="_blank">
         <div class="content" style="background-image: url(/images/gifts/{{ gift.data.image_name }});"></div>
         </a>
         </div>
				 <div class="desc">
				 <h4>{{ gift.data.title }}</h4>
				 <p>{{ gift.data.text }}</p>
				 </div>
				 </div>
			   </div>
         {%- endfor -%}
		     </div>

    -->
    <div class="row row-bottom-padded-md">
			<div class="col-md-12 text-center animate-box">
        <h3>Additional Ideas</h3>
        <p>
          This section is the last for a reason. It was placed here for the most curious ones! You have probably checked out everything above, but you are looking for something original. Help us grow our collections with your ideas!
        </p>
      </div>
    </div>
		<div class="row row-bottom-padded-md">
      {%- for gift in collections.gifts_adds -%}
			  <div class="col-md-3 text-center animate-box">
				  <div class="wedding-gifts">
            <div class="square-wrap">
              <a class="square" href="{{ gift.data.shop_url }}" target="_blank">
                <div class="content" style="background-image: url(/images/gifts/{{ gift.data.image_name }});"></div>
              </a>
            </div>
					  <div class="desc">
						  <h4>{{ gift.data.title }}</h4>
              <a href="{{ gift.data.shop_url }}">More information</a>
					  </div>
				  </div>
			  </div>
      {%- endfor -%}
		</div>
	</div>
</div>
