---
title: David & Katharina 2022 | When & Where
when_where_class: active
layout: "base.njk"
---

<div class="fh5co-hero" data-section="home">
	<div class="fh5co-overlay"></div>
	<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(/images/cover_bg_1.jpg);">
		<div class="display-t">
			<div class="display-tc">
				<div class="container">
					<div class="col-md-10 col-md-offset-1">
						<div class="animate-box">
							<h1>David &amp; Katharina</h1>
							<h2>When &amp; Where</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'navi.njk' %}

<div id="fh5co-when-where" class="fh5co-section-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h2>When &amp; Where</h2>
			</div>
		</div>
		<div class="row row-bottom-padded-md">
			<div class="col-md-6 text-center animate-box">
				<div class="wedding-events">
					<div class="ceremony-bg" style="background-image: url(/images/wed-ceremony.jpg);"></div>
					<div class="desc">
						<h3>Wedding Ceremony</h3>
						<p><strong>Saturday, December 28, 2017, 4.00 PM - 5.00PM @ Boracay Beach</strong></p>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 text-center animate-box">
				<div class="wedding-events">
					<div class="ceremony-bg" style="background-image: url(/images/wed-party.jpg);"></div>
					<div class="desc">
						<h3>Wedding Party</h3>
						<p><strong>Saturday, December 28, 2017, 6.00 PM - 11.00PM @ Boracay Beach</strong></p>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="map" class="fh5co-map"></div>
			</div>
		</div>
	</div>
</div>

<div id="fh5co-started" style="background-image:url(/images/cover_bg_2.jpg);"data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center heading-section">
				<h2>Are You Attending?</h2>
				<p>Please Fill-up the form to notify you that you're attending. Thanks.
			</div>
		</div>
		<div class="row animate-box">
			<div class="col-md-10 col-md-offset-1">
				<form class="form-inline">
					<div class="col-md-4 col-sm-4">
						<div class="form-group">
							<label for="name" class="sr-only">Name</label>
							<input type="name" class="form-control" id="name" placeholder="Name">
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="email" class="form-control" id="email" placeholder="Email">
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<button type="submit" class="btn btn-primary btn-block">I am Attending</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
